$primary-blue: rgb(56, 119, 238); // #3877EE
$primary-pink: #EF5DA8;
$primary-blue-light: #5D5FEF;
$primary-dark: rgb(66, 86, 122); // #42567A
$primary-dark-transparent-05: rgba(66, 86, 122, 0.5);
$primary-dark-transparent-03: rgba(66, 86, 122, 0.3);
$primary-dark-transparent-01: rgba(66, 86, 122, 0.1);
$secondary-dark: rgba(48, 62, 88, 0.5);
$light-bg: rgb(244, 245, 249); // #F4F5F9
