@use './_variables.scss' as *;

.sliderWrapper {
  @media (max-width: 1440px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: 960px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.timelineSliderContainer {
  position: relative;
  height: 530px;
  margin: 0 auto;

  @media (max-width: 768px) {
    height: 130px;
  }
}

.circleContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 536px;
  height: 530px;

  @media (max-width: 1440px) {
    width: 436px;
    height: 430px;
  }

  @media (max-width: 960px) {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 768px) {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
  }
}

.timelineCircle {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid $primary-dark;
  opacity: 0.8;

  @media (max-width: 960px) {
    display: none;
  }
}

.circlePoint {
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgba(66, 86, 122, 1);
  border-radius: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  color: $primary-dark;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: -1;
  }

  &:hover {
    width: 56px;
    height: 56px;
    background: $light-bg;
    border: 1px solid $secondary-dark;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
}

.activePoint {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $secondary-dark;
  background: $light-bg;
  color: $primary-dark;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  transition: all .2s ease-in-out;
}

.defaultPoint {
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}

.sliderTitle {
  position: absolute;
  top: -20%;
  left: 0;

  &::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 5px;
    top: 50%;
    left: -40.1%;
    transform: rotate(90deg);
    background: linear-gradient(to right, $primary-blue, $primary-pink);
  }

  p {
    color: $primary-dark;
    font-family: "PT Sans";
    font-size: 56px;
    font-weight: 700;
    line-height: 120%;
  }

  @media (max-width: 1440px) {
    top: 0;
    left: -41px;

    p {
      font-size: 36px;
    }

    &::before {
      left: -40%;
    }
  }

  @media (max-width: 960px) {
    left: 0;
  }

  @media (max-width: 768px) {
    position: relative;

    p {
      font-size: 26px;
      margin: 0;
    }
  }
}

.navigationButtonsWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
  overflow-x: hidden;

  .navigationButtons {
    display: flex;
    align-items: center;
    gap: 20px;

    button {
      width: 50px;
      height: 50px;
      padding: 0;
      font-size: 16px;
      cursor: pointer;
      background: transparent;
      border-radius: 50%;
      border: 1px solid $primary-dark-transparent-05;
      outline: none;
      transition: all .2s linear;

      &.disabledButton {
        opacity: 0.5;
        cursor: not-allowed;

        &:hover {
          background: transparent;
        }
      }

      &:hover {
        background: white;
      }
    }
  }

  @media (max-width: 768px) {
    position: relative;
    width: 100%;

    .navigationButtons {
      gap: 10px;

      button {
        width: 25px;
        height: 25px;

        img {
          width: 7px;
          height: 12px;
        }
      }
    }
  }
}

.amount {
  color: $primary-dark;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  @media (max-width: 768px) {
    margin-bottom: 10px;
  }
}

.activeYears {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  p {
    font-size: 200px;
    font-weight: 700;
    line-height: 160px;
  }

  .leftNumber {
    transform: translateX(-10%);
    color: $primary-blue-light;
  }

  .rightNumber {
    transform: translateX(8%);
    color: $primary-pink;
  }

  @media (max-width: 1440px) {
    p {
      font-size: 130px;
      letter-spacing: 6px;
    }

    .leftNumber {
      transform: translateX(-17%);
    }

    .rightNumber {
      transform: translateX(18%);
    }
  }

  @media (max-width: 960px) {
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 200px;

    p {
      letter-spacing: initial;
    }

    .leftNumber, .rightNumber {
      margin: 0;

      transform: none;
    }
  }

  @media (max-width: 768px) {
    top: auto;
    left: auto;
    transform: none;
    height: auto;
    justify-content: center;
    gap: 30px;

    p {
      font-size: 56px;
    }
  }
}

.circleWithNumber {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  color: $primary-dark;
  cursor: initial;

  .circleWithNumberDesc {
    position: absolute;
    margin: 0;
    transform: translateX(100%);
  }
}

.mobile {
  color: $primary-dark;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;

  @media (min-width: 768px) {
    display: none;
  }
}


.swiperContainer {
  position: relative;
  width: 100%;
  margin-top: 30px;
  max-width: 1400px;
  transform: translateY(30px);
}

.bottomSlider {
  margin-top: 56px;
  overflow: visible;
  padding-bottom: 20px;

  .swiperButtonPrev, .swiperButtonNext {
    display: none;
  }

  .bottomSliderSlide {
    box-sizing: border-box;

    border-radius: 8px;
    transition: transform 0.3s ease;
    overflow: hidden;


    .slide-content {
      padding: 20px;
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .bottomSliderSlideTitle {
      margin-top: 0;
      margin-bottom: 15px;
      color: $primary-blue;
      font-family: 'Bebas Neue', sans-serif;
      font-size: 25px;
      font-weight: 400;
      line-height: 120%;
      text-transform: uppercase;
    }

    .bottomSliderSlideText {
      color: $primary-dark;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      margin-bottom: 0;
      flex-grow: 1;
    }
  }

  @media (max-width: 768px) {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgb(199, 205, 217);

    .bottomSliderSlide {
      .bottomSliderSlideTitle {
        margin-top: 0;
        font-size: 20px;
      }

      .bottomSliderSlideText {
        font-size: 16px;
        line-height: 24px;
        -webkit-line-clamp: 3;
      }
    }
  }
}

.centerLine {
  position: absolute;
  background-color: $primary-dark;
  z-index: -1;
  opacity: 0.1;

  @media (max-width: 960px) {
    display: none;
  }
}

.horizontalLine {
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 1px;
}

.verticalLine {
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  height: 200vh;
  width: 1px;
}

.sliderPagination {
  display: none;
  gap: 6px;
  z-index: 9;
  transform: translate(calc(50% - 25px), -25px);

  .paginationDot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $primary-dark-transparent-03;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: rgba(66, 86, 122, 0.7);
    }

    &.active {
      width: 8px;
      height: 8px;
      background-color: $primary-dark;
    }
  }


  @media (max-width: 768px) {
    display: flex;
  }
}

.pcСarousel {
  @media (max-width: 768px) {
    display: none;
  }
}

.mobileCarousel {
  @media (min-width: 768px) {
    display: none;
  }
}